<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
SetHandler application/x-lsphp82
</FilesMatch>
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Redirect storage requests
    RewriteRule ^storage/(.*)$ public/storage/$1 [L,NC]

    # Handle requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /public/$1 [L]

    # Handle index.php
    RewriteRule ^(/)?$ public/index.php [L]
</IfModule>
