.custom-dropdown-button {
    background-color: #171617;
    color: #ffffff; 
    border: 1px solid #171617; 
}

.custom-dropdown-button:focus, .custom-dropdown-button:hover {
    background-color:  #171617; 
    color: #ffffff; 
    border: 1px solid #171617; 
}

.custom-dropdown-button:active {
    background-color: #171617;
}

.custom-dropdown-button:focus {
    background-color: #171617 !important;
}

.dropdown-item {
    color: #ffffff; 
}

.dropdown-item:hover {
    background-color: #333; 
    color: #bebebe; 
}

.dropdown-menu .logout-link:hover, .dropdown-menu .logout-link:focus {
    background-color:  #f0eded;
    color: #131313; 
}